
@font-face {
    font-family: quicksand;
    src: url('../../fonts/Quicksand_Light_Oblique-webfont.woff');
}

tbody {	
	text-align: center;
}

header, footer { 	
    font-family: quicksand;
	margin: 0 auto 0 auto; 	 	
    font-size: 20px;
	text-align: center;
}

header h1, footer h1 {
    font-size: 58px;
    margin-bottom: 0;
}
header h4, footer h4 {
    margin-top: 0;
}
.fc-xdate{
    background-image: url(../../images/tick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18%;
}
.fc-header-title{
	text-align: left;
}

.fc-header-left{
	margin-left: 20%;
    margin-top: 15px;
    position: absolute;
}

.fc-button-next {
	margin-left: 10px;
}

.fc-button-today {
	margin-left: 10px;
}

.fc-border-separate thead tr {
	background-color: #D8D8D8;
}

table.fc-border-separate {
	border-collapse: separate;
}

.fc-border-separate th,
.fc-border-separate td {
	border-width: 1px 0 0 1px;

	border-style: solid;
	border-color: #ddd;
}
	
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width: 1px;
}
	
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
}
	
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
}

#tabs {
	padding: 0;
	width: 98%;
	margin-left: auto;   margin-right: auto;
}

#tabs .ui-tabs-nav {
	background: transparent;
	border-width: 0 0 1px 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#tabs .ui-tabs-panel {
	margin: 0 0.2em 0.2em 0.2em;
}

#newEntry {
    overflow: auto;
}

#newEntry > * {
    float: left;  
    width: auto;     
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#newEntry > :first-child {
    border-right: 0.2em solid #B7B7B7;
}

#entryTitle, #entryMarkdown {
	width: 90%;
}

#entryMarkdown {
	height: 400px;
}

#formArea {
	width: 48%;
}

#formArea > * {
	margin-left: 40px;
}

#formArea p {
	font-size: 1.1em;
}

#previewArea {
	margin-left: 40px;
	width: 47%;
}

#entryMarkdownPreview {
	width: 700px;
	height: 430px;
}

#commitButton {
	margin-left: 10px;
}